{% extends 'base.html.twig' %}

{% block title %}Page inscription{% endblock %}

{% block body %}


<div class="container w-25">
    <h1>Inscription WargameSpirit</h1>


    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.plainPassword, {
            
            label: 'Mot de passe'
        }) }}
        
        
        <button type="submit" class="btn btn-success">S'inscrire</button>
    {{ form_end(registrationForm) }}
    </div>
{% endblock %}
