{% extends 'base.html.twig' %}

{% block title %}Hello SubjectController!{% endblock %}

{% block body %}
<div id="article -list">
	{% include 'subject/list.html.twig' with { subjects } %}
</div>
{% endblock %}
