{% extends 'base.html.twig' %}

{% block title %}Nos sujets
{% endblock %}

{% block body %}
	<div class="container">
	    <div id="article-list">
			{% include 'subject/list.html.twig' with { subjects } %}
		</div>
	</div>
{% endblock %}
