{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
	<div class="profile-card">
		<div>
			<div class="bg-light container w-25 shadow-img p-3">
				<div class="row">
					<div class="col-xs-12">
						<h2>Profil de
							{{ user.email }}</h2>
						<div class="col-12">
							<label for="email" class="form-label">Nom d'utilisateur</label>
						</div>
						<div class="mb-3">
							<div class="input_group">
								<input type="text" class="form-control" value="{{user.email}}" readonly>
							</div>
						</div>
						<div class="mb-3">
							<p>Nombre de commentaires posté :
								{{ user.comments|length }}</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
